<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form method="post" action="/add/apartment">

            <label> Add apartment name
                <input type="text" name="apartmentName">
            </label> <br>

            <label> Add Apartment City
                <input type="text" name="city">
            </label> <br>

            <label> Add Apartment Description
                <input type="text" name="description">
            </label> <br>

            <label> Add Apartment Price per night
                <input type="text" name="pricePerNight">
            </label> <br>

            <label> Add rating
                <input type="number" name="rating" step="0.1">
            </label> <br>

            <button type="Submit">Add new apartment</button>
        </form>
    </div>
</body>
</html>