
<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div>
        <th:block th:each="apartment : ${apartments}">
            <p th:text="${apartment.getApartmentName()}"></p>
            <p th:text="${apartment.getCity()}"></p>
            <p th:text="${apartment.getDescription()}"></p>
            <p th:text="${apartment.getPricePerNight()}"></p>
            <p th:text="${apartment.getRating()}"></p>
        </th:block>
    </div>

    <div>
        <a href="/add/apartment">Add apartment</a>
    </div>
</body>
</html>