<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form method="post" action="/register">
        <label> email
            <input type="text" name="email">
        </label> <br>

        <label>  First name
            <input type="text" name="firstName">
        </label> <br>


        <label> Last Name
            <input type="text" name="lastName">
        </label> <br>


        <label> Address
            <input type="text" name="address">
        </label> <br>


        <label> Password
            <input type="password" name="password">
        </label>

        <button type="submit">Register</button>
        </form>
    </div>

<a href="/bookings">Bookings</a>

</body>
</html>